@import '../styles/mixins';
@import '../styles/variables';

.header {
	@include flex(center, center, row, null);
	padding: 1rem 3rem;
	background-color: $navy;
	width: 100%;
	.nav {
		max-width: 1200px;
		width: 100%;
		@include flex(center, space-between, row, null);
		.navMenu {
			@include flex(null, null, row, 3rem);
			position: relative;
			@include sm {
				display: none;
			}

			.navItem {
				list-style: none;
				transition: all 0.3s;
                cursor: pointer;
				span {
					@include font($primaryFont, $normal, 400);
					color: $green-color;
					cursor: pointer;
				}
				.item {
					@include font($secondaryFont, $normal, 400);
					text-decoration: none;
					color: $light-slate;
				}
			}
			&:hover .navItem {
				color: $light-slate;
			}
			&:hover .navItem:not(:hover) {
				opacity: 0.5;
			}
		}

		.resume {
			display: none;
			@include sm {
				display: block;
			}
			button {
				@include button(max-width);
				padding: 0.5rem 2rem;
				font-size: $small;
				background-color: $green-color;
				color: $dark-navy;
				&:hover {
					border: 0.2rem solid $green-color;
					color: $green-color;
					background-color: transparent;
				}
			}
		}

		.mobileNavMenu {
			border: 1px solid blue;
			@include position(fixed, null, 50%, null, -6rem, -50%, 0);
			@include flex(center, space-between, row, null);
			z-index: 9999;
			border: 1px solid rgba($color: $light-slate, $alpha: 0.2);
			box-shadow: 0.5rem 0.5rem 0.5rem
				rgba($color: $dark-navy, $alpha: 0.5);
			background-color: $light-navy;
			backdrop-filter: blur(0.1rem);
			padding: 0.5rem 2rem;
			border-radius: 4rem;
			transition: all 0.5s;
			max-width: 50rem;
			width: 90%;
			@include sm {
				bottom: 3rem;
			}
			.mobileNavItem {
				list-style: none;
				cursor: pointer;
				&.active{
					.mobileLink{
						.icon{
							color: $green-color;
						}

					}
				}
				.mobileLink {
					text-decoration: none;
					color: $light-slate;
					font-size: $large;
					.icon {
						color: $light-slate;
						font-size: $medium;
					}
				}
			}
		}
	}
}
