@import '../styles/mixins';
@import '../styles/variables';

.hero {
	@include flex(flex-start, center, row, null);
    padding: 1rem 6rem;
    background-color: $navy;
	margin-top: 8rem;
	height: calc(100vh - 8vh);
	@include md{
		padding: 0 3rem;
	}
	.left {
		@include flex(center, center, column, 2rem);
        @include position(fixed, 50%, 2rem, null , null, 0, -50%);
		@include md{
			display: none;
		}
		.text {
			writing-mode: vertical-lr;
			@include font($primaryFont, $normal, 400);
		}
		.line {
			width: 0.18rem;
			height: 15rem;
			background: linear-gradient(to bottom, transparent, $lightest-navy);
			border-radius: 1rem;
			animation: shine 2s linear infinite;
		}
		.iconBox {
			@include flex(null, center, column, 1.5rem);
			@include font(null, $normal, null);
			.link {
				text-decoration: none;
				color: $light-slate;
				transition: all 0.5s;
				&:hover {
					color: $green-color;
				}
			}
		}
	}

	.right {
		@include flex(null, null, column, null);
		max-width: 1200px;
        width: 100%;
        
		.greet {
			background: $dark-navy;
			width: fit-content;
			border-radius: 4rem;
            margin-bottom: 1rem;
			h6 {
				@include font($primaryFont, $extraSmall, 400);
				padding: 0.6rem 1.4rem;
			}
		}
		.title {
			h1 {
				@include font($secondaryFont, $extraLarge + $large, 600);
				color: #CCD6F6;
                line-height: 1.2;
                @include sm{
                    font-size: $extraLarge + $normal;
                }
				@include xs{
					font-size: $large;
				}
			}
		}
		.subTitle {
			h3 {
				@include font($secondaryFont, $extraLarge + $normal, 700);
                @include sm{
                    font-size: $extraLarge;
                }
				@include xs{
					font-size: $small + $normal
				}
			}
		}
		.description {
			margin: 4rem 0;
            max-width: 60rem;
			p {
				@include font($primaryFont, $normal, 300);
			}
		}
		.button {
			button {
				@include button(max-width);
			}
		}
	}
}

