@use "mixins" as *;
@use 'variables' as *;

.header{
    text-align: center;
    padding: 4rem 0;
    .title{
        @include font($secondaryFont, $extraLarge, 600);
        color: $light-slate;
        letter-spacing: 0.05rem;
    }
    .subTitle{
        @include font($primaryFont, $normal, 400);
        color: $green-color;
        text-transform: capitalize;
        margin-top: -1rem;
    }
}