@import '../styles/mixins';
@import '../styles/variables';

.header{
    text-align: left;
    margin-bottom: 4rem;
    .title{
        @include font($secondaryFont, $extraLarge, 600);
        color: $light-slate;
        letter-spacing: 0.05rem;
        line-height: 1.2;
        position: relative;
        width: max-content;
        &::before{
            content: '';
            max-width: 20rem;
            width: 100%;
            height: .025rem;
            background: $light-slate;
            @include position(absolute, 50%, null, -1rem, null, 100%, -50%);
            @include sm{
                display: none;
            }
        }
    }
    .subTitle{
        @include font($primaryFont, $normal, 400);
        color: $green-color;
        text-transform: capitalize;
    }
}